body {
    background-color:#000;
    color:white;
    margin-top:0;
}

h4 {
    margin: 2px;
}

.spinner {
    width:75px;
}

.ui-dialog {
    min-width: 350px !important;
}

.chzn-container li {
    border-style:none !important;
}

.ajaxDeleteButton {
    float: right;
    border-style:solid;
    border-width:1px;
    border-color:black;
    background-color: grey;
    color:white;
}

.ajaxDeleteButton:hover {
    border-color:red;
}

.weaponslots, .armourslots {
    display:none;
}

.memoryDate {
    background-color: #D0D0D0 ;
    width:100%;
}

.picture {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color:  black;
    text-align: center;
    padding: 10px;
}

#contentwraper {
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    color:black;
    border-style:solid;
    border-width:5px;
    border-color:grey;
    width: 1024px;
    padding: 5px;
    
}

#logindiv {
    z-index: 10;
    text-align: left;
}

.userinfo {
    width: 100%;
    height: 20px;
    text-align:right;
    background-color: #CCC2C2;
    margin-bottom: 8px;
    padding:2px;
    color: black;
}

.userinfo a {
    color: black;
}

.userinfo a:visted {
    color: black;
}

.userinfo a:hover {
    color: red;
}

.title h2 {
    margin-top: 5px;
    margin-botton: 5px;
}

.topbar {
    width: 100%;
}

#maincontent {
    width:100%;
    min-height:500px;
}


.options {
    width: 98%;
    background: #D8D8D8;
    border-style:solid;
    border-width:1px;
    margin-bottom: 5px;
}

.button {
    padding: 3px;
    margin: 5px;
    color: black;
    background: #D8D8D8;
    border: 2px solid #686868;
    float: left;
}

.colleft {
    height:100%;
    width:207px;
    float: left;
    background: #F0F0F0;
}

.colmid {
    min-height:100%;
    width:600px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.colright {
    height:100%;
    width:207px;
    float:left;
}

.button:hover {
    border: 2px solid red;
}

.memoryDetails {
    min-height:300px;
    margin-left:0px;
    width:100%;
    border-style:solid;
    border-width:1px;
}

.photoList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
    min-height:322px;
}

.pictureCatpion {
    color: white;
}

/* saveTypes */
.created {
    width:100%;
    background-color: green;
    text-align:center;
    border:5px solid black;
}

.edited {
    width:100%;
    background-color: blue;
    text-align:center;
    border:5px solid black;
}

.diolagButtons {
    float:right;
    border:2px solid #0000CC;
    background-color: blue;
}