body {
    background-color:#000;
    color:blue;
}

.spinner {
    width:75px;
}

.weaponslots, .armourslots {
    display:none;
}

#contentwraper {
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    color:black;
    border-style:solid;
    border-width:5px;
    border-color:grey;
    width: 1024px;
    padding: 5px;
    
}

#logindiv {
    z-index: 10;
    text-align: left;
}

#logindiv fieldset {
   width:100px;
}

.userinfo {
    float:right;
    width: 250;
    height: 20px;
    text-align:right;
    background-color: #CCC2C2;
}

.title {
    float:left;
    position:absolute;
top:5px;
}

.topbar {
    width: 100%;
    height: 50px;
}

#maincontent {
    width:100%;
    min-height:500px;
}

/*FORMS*/
.ajaxForm label {
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    display: block;
    color: black;
}

.ajaxForm .submit input {
    margin-left: 10px;
}
.ajaxForm input, textarea {
    color: black;
    background: #D8D8D8;
    border: 1px solid #686868;
}

.ajaxForm input:focus, textarea:focus{
    border: 2px solid #B80000;
}

.ajaxForm .submit input {
    color: #000;
    background: #ffa20f;
    border: 2px outset #686868;
}
.ajaxForm fieldset
{
    background: #B0B0B0 ;
    border: 2px solid #484848;
    width: 500px
}

.ajaxForm legend {
    color: #fff;
    background: #303030 ;
    border: 2px solid #484848;
    padding: 2px 6px
}

/* saveTypes */
.created {
    width:100%;
    background-color: green;
    text-align:center;
    border:5px solid black;
}

.edited {
    width:100%;
    background-color: blue;
    text-align:center;
    border:5px solid black;
}

.diolagButtons {
    float:right;
    border:2px solid #0000CC;
    background-color: blue;
}